<div class="widget-wrap">
  <h3 class="widget-title">About Me</h3>
  <div class="widget">
    <a href="http://babelthuap.github.io/"><img src="https://s.gravatar.com/avatar/c31c4c03a92468fed41bf63c62dd725b?s=188" width="94" alt="profile picture"></a>
    <p>
      My name is Nicholas Neumann-Chun. I'm a full-stack JavaScript developer with a math degree from <a href="http://www.williams.edu/">Williams College</a>. "About me" in six words: <strong>I like building things with code!</strong> I like playing with algorithms and solving puzzles. Moreover, I hope to build things that make the world a better place to live in. You can check out my personal homepage <a href="https://babelthuap.github.io/">here</a>, or find me on one of the following:
      <a href="https://github.com/babelthuap">GitHub</a>,
      <a href="https://twitter.com/Babelthuap">Twitter</a>,
      <a href="https://www.linkedin.com/in/nicholas-neumann-chun-953a12103">LinkedIn</a>,
      <a href="https://angel.co/nicholas-neumann-chun">Angel List</a>
    </p>
  </div>
</div>
